<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NekoPlayer</string>
	<key>CFBundleName</key>
	<string>NekoPlayer</string>
	<key>CFBundleGetInfoString</key>
	<string>youtube-player-ex</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>io.mayodev.nekoplayer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>yt-player-ex</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>NSPrincipalClass</key>
	<string>CStubApplication</string>
	<key>CFBundleURLTypes</key>
	<key>CFBundleDocumentTypes</key>
	<!-- Game Mode causes occasional input hang-ups on macOS, 
	     comment out application category to disable it for now.
	 	 This should be revisited once osu! can handle input without the window event flow,
	 	 see: https://github.com/ppy/osu-framework/issues/6141
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music-games</string> -->
</dict>
</plist>
